@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Fredoka One", cursive;
}

.fix {
  clear: both;
  overflow: hidden;
}

header {
  overflow: hidden;
  height: 100vh;
}

section {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.konten {
  background-color: #19426d;
  overflow: hidden;
  text-align: center;
}

.aboutus {
  padding: 60px;
}

.aboutus h1 {
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  color: #fff;
  margin-top: -60px;
}

.aboutus h2 {
  font-family: "Montserrat", sans-serif;
  font-style: light;
  font-size: 15px;
  color: #fff;
  margin-bottom: 60px;
  margin-top: -20px;
}

.ps {
  margin-bottom: 40px;
}

.ps a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.ps a:hover > img {
  filter: none;
}

.vid-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.nav {
  height: 50px;
  position: absolute;
  width: 50%;
  top: 50px;
  left: 50px;
}

.logo {
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 4px;
}

.banner-text {
  position: absolute;
  top: 30%;
  text-align: center;
  left: 27%;
}

.banner-text h2 {
  color: #fff;
  font-size: 120px;
  margin: 0;
}

.banner-text h2 span {
  background: -webkit-linear-gradient(#fefeff, #0f93ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-text p {
  color: #fff;
  font-size: 25px;
  margin: 0;
}

.box {
  position: absolute;
  left: 50%;
  top: 450px;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}
.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.btn {
  border: none;
  color: #fff;
  background-size: 200%;
  padding: 15px 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  border-radius: 30px;
  bottom: -40px;
}

.btn1,
.btn2,
.btn3 {
  background-image: linear-gradient(to left, #9be4ff, #017ab0, #9be4ff);
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  background-position: right;
}
