html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #081647;
}

.box {
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2){
    animation-delay: -0.2s;
}
.box span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

footer {
    margin-top: 10vh;
    color: grey;
    height: 5vh;
    text-align: center;
    background-color: #0F1931;
}

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ftr {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#container {
    background-color: #081647;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#header1 {
    color: #fff;
    height: 10vh;
    min-height: 100vh;
    background: url(./img/virus.jpg);
    background-size: cover;
    justify-content: center;
}

#header2 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

#header3 {
    margin-top: 5vh;
    margin-left: 40vh;
    margin-right: 40vh;
    text-align: center;
    color: #ffffff;
    background-color: grey;
    border-radius: 30px;
    font-weight: bold;
    height: 7vh;
    transition: 0.4s;
}

#header3:hover {
    color: black;
    transition: 0.4s;
}

#jdl1 {
    font-family: "Fredoka One", cursive;
    font-weight: 600;
    font-size: 6vh;
    color: #fff;
    text-align: center;
}

#jdl2 {
    font-family: "Fredoka One", cursive;
    font-size: 2vh;
    color: #F0CB35;
    justify-content: center;
    text-align: center;
}

.content {
    display: inline-block;
    width: 500px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.ctn2 {
    margin-right: 25vh;
    float: right;
}

.ctn1 {
    float: left;
    margin-left: 25vh;
}

.tulisan {
    padding-right: 20px;
    padding-left: 20px;
}


.accordion {
    cursor: pointer;
    text-align: center;
    font-size: larger;
    width: 100%;
    height: 11vh;
    border-radius: 30px;
    border: #ffffff;
    outline: white;
    transition: 0.4s;
    margin-top: 5vh;
}

.acn1,.acn2,.acn3 {
    color: #fff;
    background-size: 200%;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.6s;
    background-image: linear-gradient(to left, #9be4ff, #017ab0, #9be4ff);
    font-weight: bold;
}

.acn4,.acn5,.acn6 {
    color: #fff;
    background-size: 200%;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.6s;
    background-image: linear-gradient(to left, #9be4ff, #017ab0, #9be4ff);
    font-weight: bold;
}

.acn1:hover,.acn2:hover,.acn3:hover {
    background-position: right;
    color:black;
}

.acn4:hover,.acn5:hover,.acn6:hover {
    background-position: right;
    color:black;
}

.active, .accordion:hover {
    background-color: #555;
}

.panel {
    background-color: #ADC3D1;
    display: none;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 30px;
    text-align: center;
    opacity: 0.6;
    transition: 0.6s;

}

img {
    border-radius: 50%;
    margin: 10px 10px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    opacity: 0.5;
    transition: 0.6s;
}

img:hover {
    opacity: 1.3;
    transition: 0.6s;
}

.panel:hover {
    transition: 0.6s;
    opacity: 1;
}


