html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #162447;
}

footer {
    margin-top: 10vh;
    color: grey;
    height: 5vh;
    text-align: center;
    background-color: #0F1931;
}

h1 {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ftr {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#container {
    background-color: #162447;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#header1 {
    color: #fff;
    height: 10vh;
    min-height: 100vh;
    background: url(./img/virus.jpg);
    background-size: cover;
    justify-content: center;
}

#header2 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

#header3 {
    margin-left: 40vh;
    margin-right: 40vh;
    text-align: center;
    color: #ffffff;
    background-color: grey;
    border-radius: 30px;
    font-weight: bold;
    height: 7vh;
}

#jdl1 {
    font-family: "Fredoka One", cursive;
    font-weight: 600;
    font-size: 6vh;
    color: #fff;
    text-align: center;
}

#jdl2 {
    font-family: "Fredoka One", cursive;
    font-size: 2vh;
    color: #F0CB35;
    justify-content: center;
    text-align: center;
}

.content {
    display: inline-block;
    width: 500px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.ctn2 {
    margin-right: 25vh;
    float: right;
}

.ctn1 {
    float: left;
    margin-left: 25vh;
}
.accordion {
    cursor: pointer;
    text-align: center;
    font-size: larger;
    width: 100%;
    height: 11vh;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 5vh;
}

.acn1,.acn2,.acn3 {
    color: #fff;
    background-size: 200%;
    padding: 15px 20px;
    font-size: larger;
    cursor: pointer;
    transition: 0.6s;
    background-image: linear-gradient(to left, #9be4ff, #017ab0, #9be4ff);
    font-weight: bold;
}

.acn4,.acn5,.acn6 {
    color: #fff;
    background-size: 200%;
    padding: 15px 20px;
    font-size: larger;
    cursor: pointer;
    transition: 0.6s;
    background-image: linear-gradient(to left, #9be4ff, #017ab0, #9be4ff);
    font-weight: bold;
}

.acn1:hover,.acn2:hover,.acn3:hover {
    background-position: right;
    color:black;
}

.acn4:hover,.acn5:hover,.acn6:hover {
    background-position: right;
    color:black;
}

.active, .accordion:hover {
    background-color: #555;
}

.panel {
    background-color: #ADC3D1;
    display: none;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 30px;
    text-align: center;
    opacity: 0.6;
    transition: 0.6s;

}

.panel:hover {
    transition: 0.6s;
    opacity: 1;
}


