<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CoronAware: Info</title>
        <link rel="stylesheet" th:href="@{info.css}">
    </head>

    <body>
        <div class="judul">
            <h1>The Info About COVID-19.</h1>
        </div>
        <a href="#tulisan" class="smooth">
            <div class="box">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
        <section class="tulisan" id="tulisan">
            <p>
                Pandemi COVID-19,
                juga dikenal sebagai pandemi coronavirus,
                adalah pandemi penyakit coronavirus yang sedang berlangsung tahun 2019 (COVID-19),
                disebabkan oleh coronavirus 2 sindrom pernapasan akut (SARS-CoV-2).
                Wabah ini pertama kali diidentifikasi di Wuhan, Cina, pada Desember 2019.
                Organisasi Kesehatan Dunia mendeklarasikan wabah sebagai Kesehatan Masyarakat Darurat Kepedulian Internasional pada 30 Januari,
                dan pandemi pada 11 Maret.
                Pada 3 Juni 2020, lebih dari 6,41 juta kasus COVID-19 telah dilaporkan di lebih dari 188 negara dan wilayah,
                mengakibatkan lebih dari 380.000 kematian; lebih dari 2,75 juta orang telah pulih.
            </p>
            <p>
                Virus ini terutama menyebar di antara orang-orang selama kontak dekat,
                 paling sering melalui tetesan kecil yang dihasilkan oleh batuk, bersin, dan berbicara.
                 Tetesan biasanya jatuh ke tanah atau ke permukaan daripada melakukan perjalanan melalui udara jarak jauh.
                 Lebih jarang, orang dapat terinfeksi dengan menyentuh permukaan yang terkontaminasi dan kemudian menyentuh wajah mereka.
                 Ini paling menular selama tiga hari pertama setelah timbulnya gejala,
                 meskipun penyebaran mungkin terjadi sebelum gejala muncul, dan dari orang yang
                 tidak menunjukkan gejala.
            </p>
            <p>
                Gejala umum termasuk demam, batuk, kelelahan, sesak napas, dan kehilangan indera penciuman.
                 Komplikasi dapat termasuk pneumonia dan sindrom gangguan pernapasan akut.
                 Waktu dari paparan hingga timbulnya gejala biasanya sekitar lima hari tetapi dapat berkisar dari dua
                 hingga empat belas hari. Tidak ada vaksin yang diketahui atau pengobatan antivirus khusus. Perawatan primer adalah
                 terapi simtomatik dan suportif.
            </p>
            <p>
                Tindakan pencegahan yang disarankan termasuk mencuci tangan, menutup mulut saat batuk, menjaga jarak dengan orang lain,
                 mengenakan masker di pengaturan publik, dan pemantauan dan isolasi diri untuk orang-orang yang
                 curiga mereka terinfeksi. Pihak berwenang di seluruh dunia telah merespons dengan menerapkan pembatasan perjalanan,
                 turun, kontrol bahaya di tempat kerja, dan penutupan fasilitas. Banyak tempat juga bekerja untuk meningkatkan
                 menguji kapasitas dan melacak kontak orang yang terinfeksi.
            </p>
        </section>
    </body>
    <footer>
        <div class="ftr">
            <p> &#169; 2020 Faculty of Computer Science University of Indonesia. All Rights Reserved. </p>
        </div>
    </footer>
</html>
