<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page CoronAware</title>
    <link rel="stylesheet" href="landingPage.css" />
  </head>
  <body>
    <header class="fix">
      <video src="./img/Corona.mp4" class="vid-bg" autoplay loop muted></video>
      <div class="nav">
        <div class="logo">HAPS</div>
      </div>
      <div class="logo">HAPS</div>
      <div class="banner-text">
        <h2>coron<span>Aware</span></h2>
        <p>Website untuk menambah aware terkait Covid19</p>
        <button class="btn btn1">Statistik</button>
        <button class="btn btn2">Info</button>
        <button class="btn btn3">Pencegahan</button>
      </div>
    </header>
  </body>
</html>
