<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoronAware</title>
    <link rel="stylesheet" href="landingPage.css" />
  </head>
  <body>
    <section>
      <header class="fix">
        <video
          src="./img/coronagradient4.mp4"
          class="vid-bg"
          autoplay
          loop
          muted
        ></video>
        <div class="nav">
          <div class="logo">HAPS</div>
        </div>
        <div class="logo">HAPS</div>
        <div class="banner-text">
          <h2>coron<span>Aware</span></h2>
          <p>Website untuk menambah aware terkait Covid19</p>
          <a href="/Statistik"><button class="btn btn1">Statistik</button></a>
          <a href="/info"><button class="btn btn2">Info</button></a>
          <a href="/langkah-pencegahan"
            ><button class="btn btn3">Pencegahan</button></a
          >
          <a href="#konten" class="smooth">
            <div class="box">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
      </header>
    </section>

    <section class="konten" id="konten">
      <div class="aboutus">
        <h1>Dibalik coron<span>Aware</span></h1>
        <h2>Klik gambar untuk mengetahui informasi lebih lanjut</h2>
        <div class="ps">
          <a href="https://maung.id/hilmy.akbar" target="_blank"
            ><img src="./img/hilmy.jpg" alt=""
          /></a>
          <a href="https://maung.id/muhammad.alif98" target="_blank"
            ><img src="./img/alif.jpg" alt=""
          /></a>
          <a href="https://maung.id/putu.wigunarta" target="_blank"
            ><img src="./img/putu.jpg" alt=""
          /></a>
          <a href="https://maung.id/ariasena.cahya" target="_blank"
            ><img src="./img/sena.jpg" alt=""
          /></a>
        </div>
      </div>
    </section>
  </body>
</html>
