<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoronAware: Langkah Pencegahan</title>
    <link rel="stylesheet" th:href="@{langkahpencegahan.css}">
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="judul jdl1"> Jangan lupa untuk tetap <br> menerapkan protokol kesehatan </div>
            <div class="judul jdl2"> Scroll kebawah untuk melihat protokol kesehatan yang harus dilakukan </div>
        </div>
        <h1> Langkah-langkah Pencegahan Virus Corona </h1>
        <div class="content ctn1">
                <button class="accordion acn1">Mencuci Tangan Dengan Sabun</button>
                    <div class="panel"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                        </p>
                    </div>
                <button class="accordion acn2">Mencuci Tangan Dengan Sabun</button>
                <div class="panel"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                        </p>
                    </div>
                <button class="accordion acn3">Mencuci Tangan Dengan Sabun</button>
                <div class="panel"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                        </p>
                    </div>
            </div>
            <div class="content ctn2">
                <button class="accordion acn4">Mencuci Tangan Dengan Sabun</button>
                <div class="panel"><p>
                    Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                </p>
                </div>
                    <button class="accordion acn5">Mencuci Tangan Dengan Sabun</button>
                    <div class="panel"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                    </p>
                    </div>
                    <button class="accordion acn6">Mencuci Tangan Dengan Sabun</button>
                    <div class="panel"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;

                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }

                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>