<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoronAware: Langkah Pencegahan</title>
    <link rel="stylesheet" th:href="@{langkahpencegahan.css}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
    <section id="container">
        <section id="header1">
            <div id="header2">
                <div id="jdl1"> Jangan lupa untuk tetap <br> menerapkan protokol kesehatan </div>
                <div id="jdl2"> Scroll kebawah untuk melihat protokol kesehatan yang harus dilakukan </div>
            </div>
        </section>
        <div id="header3">
            <h1> Langkah-langkah Pencegahan Virus Corona </h1>
        </div>
        <div class="content ctn1">
                <button class="accordion acn1">Mencuci Tangan Dengan Sabun</button>
                    <div class="panel pnl1"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                        </p>
                    </div>
                <button class="accordion acn2">Mencuci Tangan Dengan Sabun</button>
                <div class="panel pnl2"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                        </p>
                    </div>
                <button class="accordion acn3">Mencuci Tangan Dengan Sabun</button>
                <div class="panel pnl3"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                        </p>
                    </div>
            </div>
            <div class="content ctn2">
                <button class="accordion acn4">Mencuci Tangan Dengan Sabun</button>
                <div class="panel pnl4"><p>
                    Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                </p>
                </div>
                    <button class="accordion acn5">Mencuci Tangan Dengan Sabun</button>
                    <div class="panel pnl5"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                    </p>
                    </div>
                    <button class="accordion acn6">Mencuci Tangan Dengan Sabun</button>
                    <div class="panel pnl6"><p>
                        Membran terluar virus ini terdiri dari lapisan lemak yang mudah larut dalam sabun.
                    </p>
                    </div>
                </div>
            </section>
        <footer>
            <div id="ftr">
                <p> &#169; 2020 Faculty of Computer Science University of Indonesia. All Rights Reserved. </p>
            </div>
        </footer>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;

                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }

                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>